body {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background: url('background.jpg') center/cover no-repeat; 
    background-attachment: fixed;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    border: 1px solid #c4c4c4;
    padding: 20px 15px; 
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    background: linear-gradient(120deg, #3a3f44, #1c2025);
    position: relative; 
}

label, input {
    box-sizing: border-box; 
    width: 100%;
    padding: 10px 12px; 
    margin: 10px 0; 
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);  
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: #ccc; 
}

input[type="range"]::-webkit-slider-thumb {
    background: #5a5f64;
}

input[type="range"]::-moz-range-thumb {
    background: #5a5f64; 
}

#tipEmoji {
    font-size: 28px;
    margin-left: 10px; 
    vertical-align: middle;
}

/* Watermark styles */
.watermark {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    opacity: 0.5; 
    white-space: nowrap;
    color: #ccc; 
}

